matplotlib==3.7.1
numpy==1.24.2
optuna==3.1.0
pandas==1.5.3
pykeen==1.10.1
scipy==1.10.1
seaborn==0.12.2
torch==2.0.0
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.0
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
tqdm==4.65.0